[submodule "base"]
	path = base
	url = ../vst3_base
[submodule "pluginterfaces"]
	path = pluginterfaces
	url = ../vst3_pluginterfaces
[submodule "public.sdk"]
	path = public.sdk
	url = ../vst3_public_sdk
